button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, select {
text-transform: none;
}
button, input {
line-height: normal;
}
.btn {
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  margin: 1em auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: @highlight;
  z-index: -1;
}
.btn.btn-secondary::before,
.btn.btn-secondary::after{
  background: lighten(@highlight, 60%);
}
.btn::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.btn::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.btn::before,
.btn::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn:hover {
  color: #fff;
}
.btn:hover::before {
  opacity: 1;
}
.btn:hover::after {
  background-color: lighten(@main_background_color, 50%);
}
.btn:hover::after,
.btn:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}