@import url(http://fonts.googleapis.com/css?family=Fenix|Macondo+Swash+Caps|Quicksand);

@font-face {
      font-family: 'gemscape_iconic';
      src:url('../fonts/gemscape_iconic.eot') format('embedded-opentype'),
      url('../fonts/gemscape_iconic.woff') format('woff'),
      url('../fonts/gemscape_iconic.ttf') format('truetype'),
      url('../fonts/gemscape_iconic.svg') format('svg');
      font-weight: normal;
      font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
      font-family: 'gemscape_iconic';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      margin-right: 0.6px;
      vertical-align: middle;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.icon-search:before, .icon-search a:before               { content: "\e600";}
.icon-gem:before, .icon-gem a:before         	         { content: "\e601";}
.icon-save:before, .icon-save a:before                   { content: "\e602";}
.icon-info:before, .icon-info a:before                   { content: "\e603";}
