

.sb-search {
	position: relative;
	width: 0%;
	min-width: 40px;
	height: 40px;
	overflow: hidden;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	float:left;
}

.sb-search-input {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 20px 20px 65px;
	font-family: inherit;
	font-size: 20px;
	color: @highlight;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder {
	color: @highlight;
}

.sb-search-input:-moz-placeholder {
	color: @highlight;
}

.sb-search-input::-moz-placeholder {
	color: @highlight;
}

.sb-search-input:-ms-input-placeholder {
	color: @highlight;
}

.sb-icon-search,
.sb-search-submit  {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: @highlight;
	background: transparent;
	z-index: 90;
	font-size: 22px;

}

.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: transparent;
	color: @highlight;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

.sb-search.sb-search-open .sb-search-input {
	background: white;
}