// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.aligncenter {
  display: block;
  margin: (@line-height-computed / 2) auto;
}
.alignleft,
.alignright {
  margin-bottom: (@line-height-computed / 2);
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media (min-width: @screen-xs) {
  // Only float images if not on an extra small device like smartphones
  .alignleft {
    float: left;
    margin-right: 2.2em;
  }
  .alignright {
    float: right;
    margin-left: 2.2em;
  }
}