@import "components/_fonts";
@import "components/_buttons";
@import "components/_wp-classes";
@import "components/_flex";
@import "components/_arrows";

h1, h2, h3, h4, h5, h6{
    font-family:@headings-font-family;
}

a {
    color: @highlight;
    text-decoration: none;
    &:hover {
        color: @highlight_active;
    }
}

p {
    line-height: 1.4em;
    margin-bottom: 30px;
        span.lead {
            font-size:1.1em;
            color:@bg-brown-dark;
            font-weight:700;
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
}

p a, a.standard, .standard {
    padding: 0 0.25em;
    font-weight: 500;
    transition: color 0.2s;
    position: relative;
    display: inline-block;
    outline: none;
    color: @highlight;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    &::before {
        left: -0.1em;
        content: '[';
        transform: translateX(-100%);
    }
    &::after {
        right: -0.1em;
        content: ']';
        transform: translateX(100%);
    }
    &::before, &::after {
        position: absolute;
        top: 0;
        font-weight: 100;
        font-size: 150%;
        line-height: 1;
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
    }
    &:hover {
        color: @highlight_active;
    }
    &:active, &:hover {
        outline: 0;
    }
    &:hover::before, &:hover::after{
        opacity: 1;
        transform: translateX(0);
    }
}

ul {
    list-style: disc inside none;
        ul {
            list-style: circle inside none;
            margin-left: 16px;
        }
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
        .page-content &:last-of-type {
            padding-right: 0;
        }
}

.col-1-1{
    width:100%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%;
}

img {
    max-width:100%;
    height:auto;
}

.img-responsive, .img-responsive img {
    width:100%;
    height:auto;
}

.caption {
    font-size:0.8em;
    text-align:right;
    display:none;
        &:hover {
            display:block;
        }
}

.gallery{
    margin-top:16px;
    .display(flex);
    .flex-wrap(wrap);
}

.gallery .image {
    width: 300px;
        h2 {
            font-size: 1em;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px 20px;
        }
}


table {
    border: #ccc 1px solid;
    box-shadow: 0 1px 2px #d1d1d1;
    margin: 20px auto;
}
table tr {
  text-align: center;
  padding-left: 20px;
}
table td {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background:white;
    padding: 6px 10px;
}
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
  @media (max-width: @screen-xs){
    display: none;
  }
}
table tr.even td {
    background:#f6f6f6;
}

/* ==========================================================================
Media Queries
========================================================================== */
// Extra small screen / phone
@screen-xs:                  480px;
// Small screen / tablet
@screen-sm:                  760px;
// Medium screen / desktop
@screen-md:                  992px;
// Large screen / wide desktop
@screen-lg:                  1200px;

@media (min-width: @screen-xs){
}
@media (min-width: @screen-sm){
}
