//Colors
@grey: #555;
@white: #fff;
@black: #000;
@bg-green-dark: #3e473f;
@bg-green-light: lighten(@bg-green-dark, 10);
@bg-brown-dark: #423b30;
@bg-brown-light: lighten(@bg-brown-dark, 10);
@pale: #c6c4b2;
@highlight: #8BADCF;
@beara_highlight: #8BADCF;
@highlight_active: #d04c3f;
@kenmare: rgb(86, 98, 87);

//Backgrounds
@main_background_color: #1a2426;
@beara: #1a2426;
@main_background_light: #C7C4B3;
@main_background_pattern: url(../img/tile-bouquet.jpg);

.bg-green-dark {
	background:@bg-green-dark;
	background:radial-gradient(ellipse at top center, lighten(@bg-green-dark, 16) 0%, @bg-green-dark 57%);
}
.bg_gradient_dark {
	background: @main_background_color;
	background: radial-gradient(ellipse at top center, lighten(@main_background_color, 16) 0%, @main_background_color 57%)
}
.bg_gradient_dark2 {
	background: @main_background_color;
	background: radial-gradient(ellipse at bottom center, lighten(@main_background_color, 16) 0%, @main_background_color 57%)
}
.bg-pattern {
	background-image: @main_background_pattern;
}

//Fonts
@site-title-font-family: 'Macondo Swash Caps', cursive;
@headings-font-family:  'Quicksand', sans-serif;
@body-font-family: 'Fenix', serif;
@line-height-computed: 2.2;
@body-font: 14px / 1.2 @body-font-family;

//Layout
@body-max-width: 1000px;
@proper-padding: 16px;
@proper-padding-2x: 46px;
