@import "_variables"; //Start editing here.  If its simple changes you're after, here are the widths, paddings, fonts, line heights etc, that are used throughout the site.

html {
    background: @main_background_color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} //As much as possible, we try to close off elements right away (subrules are avoided).

@import "components/_reset"; // Add Box Sizing and Apply Eric Meyer's Reset
@import "_globals"; //We try and keep most things inline as they're used.  If not, they go in this partial.  Block elements like img, p, a, buttons, fonts etc.
//fonts
//buttons
//flex-box mixins

body,{
    font: @body-font;
    margin:0 auto;
    min-height:100%;
}

//Sections are the Building Blocks of the app...
.section {
    display:block;
    margin:0 auto;
    max-width: @body-max-width;
        &:after{
            content:"";
            display:table;
            clear:both;
        }
}

.feature {
    padding: 16px 32px;
}

@import "templates/_header";

@import "components/_breadcrumbs";
@import "templates/_front-page";

@import "templates/_page-header";
@import "templates/_page-content";
@import "components/_cards";

@import "templates/_404";
@import "templates/_taxonomy-area";

//----} .main-content

@import "templates/_footer";


//----} body

//----} html

@import "templates/_hacks";



.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  min-height: 100vh;
  margin-bottom: 20px;
  position: relative;
  background-color: @main_background_color;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-main-content.lateral-menu-is-open {
  /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
