.alert.alert-warning {
	background-color: #6B1313;
	padding: 16px;
	margin-bottom: 16px;
	.display(flex);
	.justify-content(space-around);
}

.alert li {
	padding-left: 48px;
}

.alert p {
	margin-bottom: 10px;
	color: white;
}