footer {
	color:white;
	position: relative;
	height: 50px;
	width: 100%;
	z-index: 3;
	.bg_gradient_dark2;
	box-shadow: -3px -3px 25px rgba(0,0,0,.5);
	border-top: 1px solid #474747;
}
.credits{
	text-align: center;
}

.social:hover {
	transform:scale(1.1);
}
.social {
	transform:scale(0.8);
	transition-duration: 0.5s;
}
.icon-facebook:hover {
	color: #3B5998;
}
.icon-twitter:hover {
	color: #4099FF;
}
.icon-googleplus:hover {
	color: #d34836;
}
.icon-email:hover {
	color: #f39c12;
}

//----} .site-footer
@media only screen and (min-width: 768px) {
  footer {
    height: 70px;
  }

}