.splash.section {
	position: relative;
	width: 100%;
	background: @main_background_color;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	max-width: 100%;
	min-height:100vh;
	height:100%;
}

.splash .logo {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 20%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	@media (max-width: @screen-xs){
            top:16%;
        }
}

.splash h1 {
	width: 100%;
	font-family: @body-font-family;
	color:white;
	font-size: 2.6em;
	position: absolute;
	top:35%;
	@media (max-width: @screen-xs){
            font-size: 2em;
        }
}
.splash h1 span {
	font-family: @site-title-font-family;
		font-size: 2em;
}
.introduction.section {
	font-size: 2em;
	padding: 1em;
	color: white;
	@media (max-width: @screen-xs){
            font-size: 1.4em;
        }
}

.section h2, .archive-header h1 {
  width: 100%;
  /* height: 3em; */
  background: rgb(88, 121, 128);
  border-top: 6px solid rgb(188, 219, 226);
  text-align: center;
  padding: 1em 0;
  font-size: 2.1em;
  color: rgb(188, 219, 226);
  margin-bottom: 10px;
  margin-top:10px;
}

.area {
	display:inline-block;
	width: 100%;
	position: relative;
	@media(max-width:@screen-xs){
	  padding: 10px 10px 0 10px;

	}
}
.area-image {
	float:left;
	width:700px;
	opacity:0.8;
	transition: opacity 0.35s;
	@media (max-width: @screen-xs){
            display: none;
        }
}
.area-info {
	width: 300px;
	height: 340px;
	background-color: @main_background_light;
	position: relative;
	float: right;
	transition: background-color 0.35s;
	@media (max-width: @screen-xs){
        background-color: @highlight;
        height: 215px;
        width: 100%;
    }
}
.small-map {
	position: absolute;
	top: 0;
	right: 0;
}
.area-info .arrow-left {
	.arrow(20px, @main_background_light, left,0,0,0);
    position: absolute;
    left: 0;
    top: 45%;
    @media (max-width: @screen-xs){
            display: none;
        }
}
.area-info .arrow-left:after {
	transition: border-right-color 0.35s;
}
.area-info h3 {
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	text-transform: uppercase;
	transition: transform 0.35s;
	@media (max-width: @screen-xs){
        color:white;
    }
}
.area-info p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,50px,0);
	color: white;
	position: absolute;
	bottom: 0;
	padding: 10px 30px;
	font-size: 1.2em;
	max-height: 44%;
	overflow: hidden;
	text-align: justify;
	@media (max-width: @screen-xs){
            display: none;
        }
}

.area-info .sub-areas {
	opacity:0;
	position: absolute;
	bottom: 14%;
	margin:0 auto;
	width: 100%;
	text-align:center;
	transition: opacity 0.35s, transform 0.35s;
	z-index:1001;
	height:	1em;
	overflow: hidden;
	@media (max-width: @screen-xs){
       opacity: 1;
        }
}
.sub-areas a {
	color:@main_background_color;
	padding: 0 6px;
}

.area:hover .area-info {
	background-color: @highlight;
}
.area:hover .area-info h3 {
	color:white;
	transform: translate3d(0,-100px,0);
}
.area:hover .area-info p {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.area:hover .area-info .arrow-left:after {
	border-right-color: @highlight;
}
.area:hover .area-image {
	opacity:1;
}

.area:hover .area-info .sub-areas {
	opacity: 1;
	transform: translate3d(0,-100px,0);
}

.area-info > a, .gem_type_info > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gem_type_list.section {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.gem_type_list.section h2 {
	flex-basis: 100%;
}

.gem_type {
	flex-basis: 30%;
	width: 100%;
	background-color: @main_background_light;
	min-height: 215px;
  margin-bottom: 20px;
  position: relative;
  border-width:0;
  border-color: white;
	border-style:solid;
	overflow: hidden;
  transition: border-width 0.35s,;
  	@media (max-width: @screen-xs){
  		min-height: 175px;
	  flex-basis: 100%;
	  margin: 10px 10px 0;
	  background-color: @highlight;
		border-width:6px;
	}
}
.gem_type h3 {
	  color: black;
	  font-size: 1.8em;
	  position: absolute;
	  top: 133px;
	  width: 100%;
	  text-align: center;
	  text-transform: uppercase;
	  transition: color 0.35s, transform 0.35s;
	  @media (max-width: @screen-xs){
		  top: 50px;
		  transition: none;
		color: white;
		}
}
.sub_gem_types {
	height: 1em;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
	opacity: 0;
	z-index:1001;
	transition: opacity 0.35s, transform 0.35s;
	@media (max-width: @screen-xs){
		 opacity: 1;
	transition:none;
	bottom:54px;
		}
}
.sub_gem_types a {
	color: #1a2426;
  padding: 0 6px;
}

.gem_type:hover {
	background-color: @highlight;
	border-width:6px;
}
.gem_type:hover h3 {
	transform: translate3d(0,-30px,0);
	color: white;
}
.gem_type:hover .sub_gem_types {
	opacity: 1;
	transform: translate3d(0,-15px,0);
}


.half-sections {
	max-width: @body-max-width;
	margin:0 auto;
	display: block;
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.half-sections .section {
	flex-basis:48%;
}

