header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 3;
  .bg_gradient_dark;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  border-bottom: 1px solid #474747;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition-property: transform;
  transition-duration: 0.4s;
}
header.lateral-menu-is-open {
  transform: translateX(-260px);
}

@media only screen and (min-width: 768px) {
  header {
    height: 70px;
  }
}

.home header {
  background: transparent;
  box-shadow: none;
  border-bottom:none;
}

.search-container {
  width:300px;
}

.logo-sm {
  height:70px;
  position: absolute;
  left:45%;
  @media (max-width: @screen-xs){
            position:absolute;
            left:20%;
        }
}
.logo-sm h1 a{
color: white;
font-size: 1.5em;
text-align: center;
}
.logo-sm h1 a span {
font-size: 1.5em;
font-family: @site-title-font-family;
}
.logo-sm img {
  width: 200px;
  position: absolute;
  top:-90px;
  z-index:-1;
  @media (max-width: @screen-xs){
            top:-112px;
        }
}
.home .logo-sm {
  display:none;
}

@import "../components/_navigation";

@import "../components/_search";