.page-content{
	margin-bottom:16px;
	font-family: @body-font-family;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	line-height: 1.6em;
}

.archive-header h1 a{
	color: white;
}

.no-posts {
  background: white;
  padding: 20px;
  width: 80%;
  margin: 0 auto;

  p {
  	font-size: 20px;
	  line-height: 1.6em;
  }
}

.legend {
  padding: 20px 0;
  text-align: right;
  color: #587980;
  > span {
  	margin-left:10px;
  	border-left: 1em solid white;
  	padding-left: 6px;

  	&.beara {
  		border-left-color: @highlight;
  	}
  	&.kenmare {
  		border-left-color: @kenmare;
  	}
  }
}

.tooltip {
	display: inline;
	position: relative;
	z-index: 1005;
}

/* Gap filler */
.tooltip::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip:hover::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 280px;
	left: 50%;
	bottom: 100%;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	color: #fffaf0;
	background: transparent;
	opacity: 0;
	margin: 0 0 20px -150px;
	cursor: default;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.tooltip:hover .tooltip-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.tooltip-content span {
	display: block;
}

.tooltip-text {
	border-bottom: 6px solid #fffaf0;
	overflow: hidden;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.tooltip:hover .tooltip-text {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tooltip-inner {
	background: @kenmare;
	padding: 30px 16px;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip:hover .tooltip-inner {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-content::after {
	content: '';
	bottom: -20px;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #fffaf0;
	border-width: 10px;
	margin-left: -10px;
}